
body {
    font-size: large;
    word-break: break-word;
    padding-bottom: 100px;
}

a {
    color: black;
}

h2 {
    margin-top: 50px;
}

sup {
    font-size: x-small;
}

@media screen and (max-width: 800px) {
    body {
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}
