
html {
    scrollbar-width: none;
    -ms-overflow-style: none;
}

html::-webkit-scrollbar {
    display: none;
}

a {
    color: #0D1117;
}

body {
    font-family: "Ubuntu",serif;
    background-color: #f6f7f9;
    color: black;
    margin: 0;
}

.mega_header {
    background-color: #22222b;
    margin: 0;
    padding: 0 0 10px;
    color: white;
}

.mega_header a {
    color: wheat;
}

.email_buttons {
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(26, 27, 33, 0.18);
    padding-bottom: 10px;
}

.mobile_warning {
    text-align: center;
    display: none;
}

.cookies {
    text-align: center;
}

.center {
    text-align: center;
}

.foot {
    padding-top: 50px;
}

.foot hr {
    width: 50%;
}

.promos a {
    font-size: small;
    color: #f2f2f2;
    margin-right: 10px;
    margin-left: 10px;
}

.nomargin {
    margin: 0;
}

@media screen and (max-width: 800px) {
    .mobile_warning {
        display: block;
    }
}
