* {
    box-sizing: border-box;
}

body {
    font-family: Roboto,"serif";
    display: flex;
    flex-direction: column;
}

.columns {
    float: left;
    width: 25%;
    padding: 8px;
}


.columns.col-free .price {
    border-top-color: black;
}

.columns.col-plus .price {
    border-top-color: #6d4aff;
}

.columns.col-ultra .price {
    border-top-color: #ff6600;
}

.columns.col-titanium .price {
    border-top-color: #ff00aa;
}

.column-container {
    max-width: 90%;
    margin-left: 2.5%;
    flex: 1,
}

.price {
    list-style-type: none;
    margin: 0;
    width: 100%;
    padding: 0;
    border-top: 3px solid;
}

.columns.col-free .pricing-ul li::before {
    color: black;
}

.columns.col-plus .pricing-ul li::before {
    color: #6d4aff;
}

.columns.col-ultra .pricing-ul li::before {
    color: #ff6600;
}

.columns.col-titanium .pricing-ul li::before {
    color: #ff00aa;
}

.price .header {
    background-color: #111;
    color: white;
    max-height: 10px;
    margin: 0;
}

.price li {
    padding: 10px;
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
}

.price li .np {
    padding: 0;
    text-align: left;
}

.button {
    background-color: #0b7fd3;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    margin-left: 0;
    animation-name: button-animation; /* Add this line */
    animation-duration: 0.3s;
    --webkit-transition-duration: 0.3s;
    border-radius: 10px;
    cursor: pointer;
}

.button:hover {
    background-color: #136eaf;
    color: white;
    cursor: pointer;
}

.pricing_header {
    padding-top: 100px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

.pricing_desc {
    padding-bottom: 100px;
}


.pricing_desc {
    max-width: 50%;
    margin-left: 25%;
}

@media only screen and (max-width: 630px) {
    .pricing_desc {
        max-width: 95%;
        margin-left: 2.5%;
    }
}

.pricing-ul {
    list-style-type: none;
    padding-left: 0;
}

.pricing-ul li {
    position: relative;
    padding-left: 2em;
}

.pricing-ul li::before {
    content: "\f058";
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    position: absolute;
    left: 0;
    top: 0.6em;
    color: #6d4aff;
}

.pricing-ul li.nl::before {
    content: none;
}

.pricing-ul li.nl {
    padding-left: 0;
}


@media only screen and (max-width: 1077px) {
    .columns {
        width: 90%;
        margin-left: 10%;
        padding-left: 0;
    }
    .column-container {
        margin-left: 0;
    }
    .price, .price li {
        /* Apply 10px margin to the left and right for the price list and its items */
        margin-left: 10px;
        margin-right: 10px;
    }
    .pricing-ul {
        margin-left: 0;
    }
}
